body {
  font-family: 'Indie Flower';
  text-align: justify;
  font-size: 1.8vw;
}

button {
  background: lightcoral;
  border-radius: 5px;
  border: solid 3px grey;
  font-family: 'Permanent Marker';
  font-size: 2vw;
  padding: 1.5vw;
}

button:hover{
  color: lightcoral;
  background: grey;
  border: solid 3px lightcoral;
}

fieldset {
  border: none;
  padding-bottom: 5vh;
}

form p{
  font-size: 1.3vw;
  color: red;
}

h1 {
  font-family: 'Permanent Marker';
}

span {
  font-family: 'Permanent Marker';
}


/* 
########################################################################

classes

########################################################################
*/

.apple {
  position: absolute;
  background: red;
  width: 2%;
  height: 2%;
}

.bodyPart {
  position: absolute;
  background: green;
  width: 2%;
  height: 2%;
}

.container {
  width: 50%;
  padding-top: 50%;
  position: relative;
}

.flexColCenter {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.formButtons {
  width: 40vw;
  display:flex; 
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch
}

.head {
  position: absolute;
  background: greenyellow;
  width: 2%;
  height: 2%;
}

.lost {
  background: red;
  position: absolute;
  top: 40vh;
  left: 30vw;
  width: 40vw;
  height: 20vh;
  z-index: 2;
}

.lost button {
  border: solid 2px black;
  padding: 2%;
}

.lost button:hover {
  border: dashed 2px black;
  color: red;
  background: black;
  padding: 2%;
}

.main {
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
}

.scoreBar {
  border: solid 3px green;
  background: lightgray;
  margin-top: 3vh;
  width: 100%;
}

.screen {
  background: black;
  box-sizing: content-box;
  border: 3px solid grey;
  color: red;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.sideDiv{
  justify-content: space-between;
  height: inherit;
  max-height: 100vh;
  max-width: 50%;
  padding: 2% 5% 0% 2%;
}

.startButton{
  background: lightseagreen;
  border-radius: 3px;
  border: solid 3px grey;
  padding: 1.5vw;
}

.startButton:hover{
  color: lightseagreen;
  background: grey;
  border-radius: 3px;
  border: solid 3px lightseagreen;
  cursor: pointer;
  padding: 1.5vw;
}

.startButtonDisabled{
  opacity: 50%;
  background: lightseagreen;
  border-radius: 3px;
  border: solid 3px grey;
  padding: 1.5vw;
}


