/* 
########################################################################

buttons

########################################################################
*/


button {
  border-radius: 8px;
  border: solid 3px grey;
  font-family: 'Permanent Marker';
  font-size: 2vw;
  padding: 1.5vw;
}

button:not(.disabled):hover{
  background: grey;
  cursor: pointer;
}

.disabled {
  border-color: lightgray;
}

.resetButton {
  background: lightcoral;
}

.resetButton:hover {
  border: solid 3px lightcoral;
  color: lightcoral;
}

.startButton{
  background: lightseagreen;
}

.startDiv{
  border-radius: 8px;
  border: solid 3px grey;
  font-family: 'Permanent Marker';
  font-size: 2vw;
  padding: 1.5vw;
}
.startDiv:not(.disabled):hover{
  background: grey;
  cursor: pointer;
}

.startButton:not(.disabled):hover{
  border: solid 3px lightseagreen;
  color: lightseagreen;
}

/* 
########################################################################

flexbox

########################################################################
*/

.flexRowNoWrap {
  display: flex;
  flex-flow: row nowrap;
}

.flexColNoWrap {
  display: flex;
  flex-flow: column nowrap;
}

.center{
  justify-content: space-evenly;
  align-items: center;
}

/* 
########################################################################

containers

########################################################################
*/

.sideDiv {
  padding: 2% 5%;
  width: 60%;
}

.main {
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}

.scoreBar {
  border: solid 3px green;
  border-radius: 8px;
  background: lightgray;
  font-family: 'Permanent Marker';
  margin: 2% 5%;
  text-align: center;
  width: 50%;
}

.signForms{
  width: 23%;
}

.tableBox {
  padding: 5%;
  align-content: center;
}

.container {
  width: 50%;
  padding-top: 50%;
  position: relative;
}

/* 
########################################################################

navBar

########################################################################
*/

.navbar {
  justify-content: space-between;
  background: lightgray;
  padding: 1.5vh 1.5vw;
  border-bottom: 2px solid black;
}

.subNavBar{
  justify-content: space-between;
  min-width:25%;
}



/* 
########################################################################

game elements

########################################################################
*/

.gameElement {
  position: absolute;
  width: 2%;
  height: 2%;
}

.apple {
  background: red;
}

.bodyPart {
  background: green;
}

.head {
  background: greenyellow;
}

.screen {
  background: black;
  box-sizing: content-box;
  border: 3px solid grey;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* 
########################################################################

forms

########################################################################
*/

fieldset {
  padding: 0;
}

form {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 3vh 3vw;
}

form p{
  font-size: 1.2vw;
  color: red;
}

input{
  background: rgba(100, 164, 204, 0.2);
  border-radius: 1.3vw;
  font-family: 'lato';
  margin-left: 4%;
  padding: 2%;
}

.formLabels {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.formLabels label, .formLabels input{
  text-align: left;
  width: 100%;
}

.formLabels input{
  width: 80%;
}


/* 
########################################################################

classes

########################################################################
*/

h1, h2 {
  font-family: 'Permanent Marker';
  text-align: center;
}

span {
  font-family: 'Permanent Marker';
}


.displayNone{
  display: none;
}

.errorMessage {
  font-size: 1.5vw;
  color: red;
}

.lost {
  background: red;
  position: absolute;
  top: 40vh;
  left: 30vw;
  width: 40vw;
  height: 20vh;
  z-index: 2;
}

/* @media only screen and (max-width: 600px) {
  .main {
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 100%;
  }
} */

/* 
########################################################################

tables

########################################################################
*/

table {
  border-collapse: collapse;
  text-align: center;
}

th {
  padding: 0 2vw;
}

thead {
  color: white;
  background: rgb(65, 64, 64);
  border-bottom: 3px solid black;
}

tr {
  border-bottom: 2px dashed black;
}

tr:last-child{
  border-bottom: none;
}

td {
  padding: 0 2vw;
}

.oddRow {
  background: lightblue
}
.evenRow{
  background: lightgray;
}
