.apple {
  position: absolute;
  background: red;
  width: 2%;
  height: 2%;
}

.bodyPart {
  position: absolute;
  background: green;
  width: 2%;
  height: 2%;
}

.container {
  width: 50%;
  padding-top: 50%;
  position: relative;
}

.flexColCenter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.head {
  position: absolute;
  background: greenyellow;
  width: 2%;
  height: 2%;
}

.lost {
  background: red;
  position: absolute;
  top: 40vh;
  left: 30vw;
  width: 40vw;
  height: 20vh;
  z-index: 2;
}

.lost button {
  border: solid 2px black;
  padding: 2%;
}

.lost button:hover {
  border: dashed 2px black;
  color: red;
  background: black;
  padding: 2%;
}

.main {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.scoreBar {
  border: solid 3px green;
  background: lightgray;
  padding: 2%;
  margin: 4%;
}

.screen {
  background: black;
  box-sizing: content-box;
  border: 5px solid grey;
  color: red;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}


.window {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
