body {
  font-family: 'Indie Flower';
  text-align: justify;
  font-size: 1.8vw;
}


button {
  background: lightcoral;
  border-radius: 5px;
  border: solid 3px grey;
  font-family: 'Permanent Marker';
  font-size: 2vw;
  padding: 1.5vw;
}

button:hover{
  color: lightcoral;
  background: grey;
  border: solid 3px lightcoral;
}

fieldset {
  display: flex;
  flex-flow: row nowrap;
  border: none;
  justify-content: space-evenly;
  width: 100%;
}

fieldset label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%
}

form {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 3vh 3vw;
}

form p{
  font-size: 1.2vw;
  color: red;
}

input{
  background: rgba(100, 164, 204, 0.2);
  border-radius: 1.3vw;
  font-family: 'lato';
  margin-left: 4%;
  padding: 2%;
}

h1 {
  font-family: 'Permanent Marker';
}

span {
  font-family: 'Permanent Marker';
}


/* 
########################################################################

classes

########################################################################
*/

.apple {
  position: absolute;
  background: red;
  width: 2%;
  height: 2%;
}

.bodyPart {
  position: absolute;
  background: green;
  width: 2%;
  height: 2%;
}

.container {
  width: 50%;
  padding-top: 50%;
  position: relative;
}

.displayNone{
  display: none;
}

.errorMessage {
  font-size: 1.5vw;
  color: red;
}

.flexColCenter {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 60%;
  margin: auto;
}

.formButtons {
  width: 40vw;
  display:flex; 
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch
}

.formLabels {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.formLabels label, .formLabels input{
  text-align: left;
  width: 100%;
}

.formLabels input{
  width: 80%;
}

.head {
  position: absolute;
  background: greenyellow;
  width: 2%;
  height: 2%;
}

.lost {
  background: red;
  position: absolute;
  top: 40vh;
  left: 30vw;
  width: 40vw;
  height: 20vh;
  z-index: 2;
}

.lost button {
  border: solid 2px black;
  padding: 2%;
}

.lost button:hover {
  border: dashed 2px black;
  color: red;
  background: black;
  padding: 2%;
}

.main {
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: lightgray;
  padding: 1.5vh;
  border-bottom: 2px solid black;


}

/* @media only screen and (max-width: 600px) {
  .main {
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 100%;
  }
} */

.scoreBar {
  border: solid 3px green;
  background: lightgray;
  margin-top: 3vh;
  width: 100%;
}

.screen {
  background: black;
  box-sizing: content-box;
  border: 3px solid grey;
  color: red;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.sideDiv{
  justify-content: space-between;
  height: inherit;
  max-height: 100vh;
  max-width: 50%;
  padding: 2% 5% 0% 2%;
}

.startButton{
  background: lightseagreen;
  border-radius: 3px;
  border: solid 3px grey;
  padding: 1.5vw;
}

.startButton:hover{
  color: lightseagreen;
  background: grey;
  border-radius: 3px;
  border: solid 3px lightseagreen;
  cursor: pointer;
  padding: 1.5vw;
}

.startButtonDisabled{
  background: lightseagreen;
  border-radius: 3px;
  border: solid 3px grey;
  padding: 1.5vw;
}

.signForms{
  width: 23%;
}

.signButton {
  align-self: center;
  color: black;
  background: lightseagreen;
  border-radius: 10px;
  border: solid 3px black;
  padding: 1.3vh 4vw;
}

.signButton:disabled {
  opacity: 80%;
  color: grey;
  border-color:grey;
}

.signButton:hover:disabled {
  align-self: center;
  background: lightseagreen;
  border-radius: 10px;
  border: solid 3px grey;
  color: grey;
  opacity: 50%;
}

.signButton:hover:enabled {
  border: solid 3px lightseagreen;
  background: lightgrey;
  color: lightseagreen;
  cursor: pointer;
}

.tableBox {
  padding: 5%;
  align-content: center;
}

.tableBox h2{
  text-align: center;
}

/* .tableBox td,  .tableBox td{
  padding: 5px 5px 5px 25px;
  border: 2px solid lightgray;
  border-right: none;
}

.tableBox td:last-of-type,  .tableBox td:last-of-type{
  padding: 5px 5px 5px 25px;
  border-right: 2px solid lightgray;
} */

table {
  border-collapse: collapse;
  text-align: center;
}

th {
  padding: 0 2vw;
}

thead {
  color: white;
  background: rgb(65, 64, 64);
  border-bottom: 3px solid black;
}

tr {
  border-bottom: 2px dashed black;
}

tr:last-child{
  border-bottom: none;
}

td {
  padding: 0 2vw;
}

.oddRow {
  background: lightblue
}
.evenRow{
  background: lightgray;
}
